.user-item {
    padding-inline: 1em;

    // padding-block: 1em;

    .btns {
        padding-top: .5rem;
        display: flex;
        gap: 1rem;

        &>button {
            background-color: white;
            padding: .5em 1em;
            font-size: 16px;
            border-radius: .5em;
            outline: none;
            border-width: 1px;
            transition: scale .3s;

            &:hover {
                cursor: pointer;
            }

            // &[disabled] {}
        }

        // justify-content: flex-end;
    }

    table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 .5em;

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        thead {
            font-size: 1.2rem;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        // tr:nth-child(odd) {
        //     background-color: #ffffff;
        // }

        .user-item {

            &:hover {
                cursor: pointer;
                // opacity: .7;
                // filter: brightness(90%);
                background-color: lightblue;
            }
        }
    }
}